@@media all {
  body {
    background-color: blue;
  }
}
nav {
  color: white;
  background-color: #666666;
  font-family: Arial;
  overflow: hidden;
}
a {
  float: left;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 15px 15px;
  font-size: 20px;
}
li {
  font-style: normal;
  font-size: 20px;
}
